.footer__outer{
    width:100%;
    height:fit-content;
    /* overflow-x: hidden; */
}
.footer__inner{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #375992;
    color: white;
}

.footer__inner__top{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 19px;
    line-height: 20px;
}
.footer__inner__top__left{
    width:80%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer__inner__top__right{
    width:20%;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer__inner__top__left__each{
    width:fit-content;
    padding:2px 10px 2px 0px;
    margin-right: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.footer__inner__top__left__each:hover{
    color:orange
}

.footer__inner__top__left__each2{
    width:fit-content;
    display: flex;
    padding:2px 10px 2px 10px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.icon__test__col:hover{
    color:orange;
}
.footer__inner__top__left__each3{
    width:fit-content;
    display: flex;
    padding:2px 10px 2px 0px;
    margin-left: 10px;
    margin-right: 15px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.footer__inner__top__left__each3:hover{
    color:orange
}
.footer__img{
    width:35px;
    height:35px;
}


.footer__inner__mid{
    width:fit-content;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}
.footer__inner__bottom{
    margin-bottom: 1rem;
    margin-top: 1rem;
    width:fit-content;
    padding:2px 10px 2px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;;
    flex-wrap: wrap;
    cursor: pointer;
}







/* media query for responsive */



@media screen and (min-width:2000px)
{
    .footer__inner__top__left{
        width:60%;
    }
}




@media screen and (max-width:1850px)
{
    .footer__inner__top__left{
        width:70%;
    }
    .footer__inner__top__right{
        width:20%;

    }
}
@media screen and (max-width:1674px)
{
    .footer__inner__top__left{
        width:80%;
        flex-wrap: wrap;
        height: fit-content;
    }
    .footer__inner__top__right{
        width:20%;

    }
    .footer__inner__top__left__each{
        margin-top: 5px;
    }
}
@media screen and (max-width:1379px)
{
    .footer__inner__top__left__each{
        font-size: 14px;
    }
}
@media screen and (max-width:1264px)
{
    .footer__inner__top__left{
        width:350px;
        display: flex;
        align-items:center;
        justify-content: space-around;
    }

    .footer__inner__top__left__each{
        margin:10px;
        font-size: 15px;
    }
    .footer__inner__top__right{
        width:25%;
    }
    .footer__inner__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
    }
    .footer__inner{
        flex-direction: column;
        align-items: center;
    }
    .footer__inner__bottom{
        width:100%;
        justify-content: center;
    }
    
}
@media screen and (max-width:1174px)
{
    .footer__inner__top__right{
        width:35%;
    }
    
}
@media screen and (max-width:976px)
{
    .footer__inner__top__right{
        width:70%;
    }
}

@media screen and (max-width:513px)
{
    .footer__inner__top__left{
        width:90%;
        justify-content: flex-start;
    }
    .footer__inner__top__left__each{
        width:fit-content;
        font-size: 15px;
        font-weight: 700;
    }
    .footer__inner__top{
        margin-top:0.2rem;
        margin-bottom: 0.2rem;
    }
    .footer__inner__bottom{
        width:100%;
    }
}

@media screen and (max-width:395px)
{
    .footer__inner__top__right{
        width:100%;
    }
    .footer__inner__top__left__each3{
        width:fit-content;
        font-size: 15px;
    }
    .footer__inner__mid{
        width:90%;
        justify-content: center;
        text-align: center;
        margin-left: 0rem;
    }
}










